---
import { Button, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import SiteStats from '@/components/about/SiteStats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: '我的兴趣' },
  { depth: 2, slug: 'my-job', text: '我的工作' },
  { depth: 2, slug: 'my-skills', text: '我的技能' },
  { depth: 2, slug: 'access-statistics', text: '访问统计' }
]
---

<PageLayout title='关于我' {headings} comment>
  <p>PHP 工程师 / 全栈开发</p>
  <p>
    一名独立开发者，主要使用 Go 与 PHP 构建后端服务，也会用 Vue 写一点前端。<br />
    我喜欢把想法变成可以跑起来的代码，也喜欢研究系统背后的逻辑与工程细节。<br />
    这个博客记录的是我在开发过程中的经验、坑点和一些思考。 希望这些内容能帮到你，也欢迎交流。<br
    /><br />
    如果你正在寻找一位技术合作者、远程开发者，或者只是想聊聊项目和代码，都可以随时联系我，交流总比独自摸索要有趣得多。
  </p>
  <Button title='赞助我' class='w-fit' href='/projects#sponsorship' variant='ahead' />

  {/* general-talk */}
  <h2 id='hobbies'>我的兴趣</h2>
  <ul>
    <li>玩游戏( PS5 / Switch, 偏爱单机多一些 )</li>
    <li>写代码( Go / PHP / 前端折腾 )</li>
    <li>偶尔研究技术设计，记录点想法</li>
    <li>享受安静的时间，也喜欢认识新朋友</li>
  </ul>

  {/* my-job */}
  <h2 id='my-job'>我的工作</h2>
  <p>
    这些年我做过一些不同方向的工作，从传统行业到互联网，再到自由职业。<br />
    它们负责的内容各不相同，但都让我更清楚自己想成为什么样的开发者。
  </p>
  <Timeline
    events={[
      {
        date: '2018-2019',
        content: '山东麦琪 · 在传统行业做电商相关工作'
      },
      {
        date: '2019-2020',
        content: '上海豪达 · 从事金融相关产品的开发与维护'
      },
      {
        date: '2020+',
        content: '自由职业 · 与熟悉的团队伙伴合作，从事金融相关系统开发项目'
      }
    ]}
  />
  <p>
    这些经历让我逐渐从「做事」走向「做系统」<br />
    也让我意识到，写代码不是目的，而是理解世界的一种方式。
  </p>

  {/* my-skills */}
  <h2 id='my-skills'>我的技能</h2>
  <p>能写前端、精通后端、搞得定运维，也会用 Go/Python 写点自动化脚本 —— 全栈打工侠认证 ✔️</p>
  <ToolSection
    class='mb-5'
    title='语言'
    tools={[
      {
        name: 'Html',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'CSS',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'JavaScript',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'Vue',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'Shell',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'PHP',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'Go',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'Python',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'SQL',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'Git',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='前端'
    tools={[
      {
        name: 'TypeScript',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'Vite',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'Naive UI',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'Vant',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'Element',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='后端'
    tools={[
      {
        name: 'Gin',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'ThinkPHP',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'Laravel',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'Webman',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      }
    ]}
  />

  {/* access-statistics */}
  <h2 id='access-statistics'>访问统计</h2>
  <p>数据不重要，但我还是想看看</p>
  <SiteStats/>
</PageLayout>
