---
import fs from 'fs/promises'
import path from 'path'

import GameGallery from '@/components/vue/game/GameGallery.vue'

const { class: className, limit, grid, baseurl, ...props } = Astro.props

interface Item {
  name: string
  poster_path: string
  date: string
  platinum: boolean
  platinum_date: string
  link: string
}

const gamePath = path.resolve('public/game.json')
const content = await fs.readFile(gamePath, 'utf-8')
const gameData: Item[] = JSON.parse(content)

gameData.sort((a, b) => b.date.localeCompare(a.date))

const listData = gameData.slice(0, limit > 0 ? limit : gameData.length)
---

<div class={className} {...props}>
  <GameGallery client:only='vue' list={listData} baseurl={baseurl} grid={grid} />
</div>
