---
import { cn } from 'astro-pure/utils'
import TVwall from '@/components/entertainment/TVwall.astro'

const { class: className, title, baseurl, limit, ...props } = Astro.props
---

<div
  class={cn('not-prose flex flex-col rounded-xl border py-3 px-3 gap-y-3 sm:gap-y-4', className)}
  {...props}
>
  <div class='m-0 px-2 text-lg font-medium'>{title}</div>
  <div>
    <TVwall baseurl={baseurl} limit={limit} grid="grid gap-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4"/>
  </div>
</div>
<div class='mt-2 text-right text-sm'>
  如果你想了解更多 <a
    class='text-muted-foreground'
    href='/anime'
    target='_blank'
    rel='noopener noreferrer'>查看我的追番列表</a
  >
</div>
