---
import fs from 'fs/promises'
import path from 'path'

import AnimeGallery from '@/components/vue/anime/AnimeGallery.vue'

const { class: className, limit, grid, baseurl, ...props } = Astro.props

interface Item {
  id: number // id
  title: string // 标题
  original_title: string // 原标题
  overview: string // 简介
  poster_path: string // 海报路径
  backdrop_path: string // 背景图路径
  release_date: string // 发布日期
  vote_average: number // 评分
}

const entertainmentPath = path.resolve('public/entertainment.json')
const content = await fs.readFile(entertainmentPath, 'utf-8')
const entertainmentData: Item[] = JSON.parse(content)

entertainmentData.sort((a, b) => b.release_date.localeCompare(a.release_date))

const listData = entertainmentData.slice(0, limit > 0 ? limit : entertainmentData.length)
---

<div class={className} {...props}>
  <AnimeGallery client:only='vue' list={listData} baseurl={baseurl} grid={grid} />
</div>
