---
import { Button } from 'astro-pure/user'
import { cn } from 'astro-pure/utils'
import PageLayout from '@/layouts/BaseLayout.astro'
import { integ } from '@/site-config'

import KitchenContents from './KitchenContents.astro'

const meta = {
  title: '下厨饭',
  description: '偶尔做饭，偶尔记录，这里放的是那些让我印象深刻的味道'
}
---

<PageLayout {meta}>
  <Button title='返回' href='/' variant='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>下厨房</h1>
    </div>
    <div id='content' class={cn('animate mt-8 max-w-none md:min-w-[45ch]', integ.typography.class)}>
      <h2 class='text-xl font-medium'>一些平日里做饭的记录，省得以后忘记怎么做</h2>
      <KitchenContents title={false} />
      <h2 class='text-xl font-medium'>关于此页面</h2>
      <p>平时工作忙，其实不太常做饭。</p>
      <p>但偶尔有时间、或者心血来潮的时候，也会下厨试试。</p>
      <p>如果哪次做得特别好吃，我就会把做法写下来，以后想复刻就不用苦苦回忆了</p>
    </div>
  </main>
</PageLayout>
