/* Theme */
:root {
  /* Primary */
  --primary: 150 33% 52%;

  /* Foreground */
  --foreground: 150 10% 15%;
  --muted-foreground: 150 8% 35%;

  /* Background */
  --background: 150 25% 98%;
  --muted: 150 10% 94%;
  --card: 150 8% 92%;

  /* Basic */
  --border: 150 10% 86%;
  --input: 150 10% 90%;
  --ring: 150 20% 45%;
  --radius: 0.5rem;
}
.dark {
  /* Primary */
  --primary: 150 40% 70%;

  /* Foreground */
  --foreground: 0 0% 96%;
  --muted-foreground: 150 5% 70%;

  /* Background */
  --background: 150 12% 7%;
  --muted: 150 10% 18%;
  --card: 150 8% 22%;

  /* Basic */
  --border: 150 8% 25%;
  --input: 150 8% 18%;
  --ring: 150 25% 70%;
}
:root {
  --un-default-border-color: hsl(var(--border) / 1);
}
html.dark {
  color-scheme: dark;
}

/* Global */
a {
  transition: color 0.2s ease;
  &:hover {
    color: hsl(var(--primary) / var(--un-text-opacity, 1));
  }
}
