/* Font */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}
html {
  font-family: 'Satoshi', sans-serif;
}

/* Theme */
:root {
  --background: 150 20% 98%;
  --foreground: 150 5% 10%;
  --card: 0 0% 100%;
  --card-foreground: 150 5% 10%;
  --popover: 0 0% 100%;
  --popover-foreground: 150 5% 10%;
  --primary: 150 30% 45%;
  --primary-foreground: 0 0% 92.5%;
  --secondary: 150 15% 95%;
  --secondary-foreground: 150 5% 10%;
  --muted: 150 10% 93%;
  --muted-foreground: 150 5% 30%;
  --accent: 150 15% 95%;
  --accent-foreground: 150 5% 10%;
  --destructive: 0 75% 50%;
  --destructive-foreground: 0 0% 98%;
  --border: 150 10% 88%;
  --input: 150 10% 90%;
  --ring: 150 5% 83.9%;
  --radius: 0.5rem;
}
.dark {
  --background: 150 20% 5%;
  --foreground: 0 0% 98%;
  --card: 150 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 150 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 150 90% 85%;
  --primary-foreground: 150 5% 18%;
  --secondary: 150 20% 20%;
  --secondary-foreground: 0 0% 98%;
  --muted: 150 10% 15%;
  --muted-foreground: 150 5% 75%;
  --accent: 150 20% 20%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 70% 30%;
  --destructive-foreground: 0 0% 98%;
  --border: 150 5% 19%;
  --input: 150 3.7% 15.9%;
  --ring: 150 5% 84%;
}
:root {
  --un-default-border-color: hsl(var(--border) / 1);
}
html.dark {
  color-scheme: dark;
}

/* Global */
a {
  transition: color 0.2s ease;
  &:hover {
    color: hsl(var(--primary) / var(--un-text-opacity, 1));
  }
}
